
    .card  {
      min-width: 275px;
      background-color: green !important;
      color: red !important
    }
    .bullet {
      display: inline-block;
      margin: '0px 2px';
      transform: scale(0.8),
    }
    .title {
      font-size: 14px,
    }
    .pos {
      margin-bottom: 12px,
    }
 